.app-content-ccomp {
  section {
    // intro
    &.is-intro-kompetisi {
      background: #36d1dc;
      background: url(../images/kompetisi/wave.png),
        -webkit-linear-gradient(300deg, #36d1dc, #5b86e5);
      background: url(../images/kompetisi/wave.png),
        linear-gradient(300deg, #36d1dc, #5b86e5);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: bottom;
      .img-kompetisi {
        width: 450px; // margin-left: 60px;
      }
    }
    &.is-acara {
      .columns {
        padding: 0 60px;
        .column {
          .box {
            cursor: pointer;
            .image {
              margin: 0 auto;
            }
            .subtitle {
              &::before {
                content: "";
                display: block;
                width: 40px;
                margin: 0 auto;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: 2px solid $red;
                border-radius: 8px;
              }
            }
          }
          &:nth-child(2) {
            .box {
              .subtitle {
                &::before {
                  border-bottom: 2px solid $blue;
                }
              }
            }
          }
          &:nth-child(3) {
            .box {
              .subtitle {
                &::before {
                  border-bottom: 2px solid $orange;
                }
              }
            }
          }
          &:nth-child(4) {
            .box {
              &::before {
                border-bottom: 2px solid #e84779;
              }
            }
          }
          &:nth-child(5) {
            .box {
              &::before {
                border-bottom: 2px solid #c12c74;
              }
            }
          }
        }
        .box {
          transition: box-shadow 0.3s;
        }
        .box:hover {
          box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
        }
      }
    }

    &.is-timeline-ccomp {
      background: linear-gradient(to bottom, rgba(209, 236, 247, 0.5)1%, #fff);
      background-size: auto auto;
      background-size: cover;
    }
    &.is-photos {
      overflow-x: hidden;
      .container {
        &.is-fluid {
          margin-left: 0px !important;
          margin-bottom: 0px !important;
          width: 100%;
        }
        .columns {
          margin-bottom: 0px;
          .column {
            padding: 0;
            img {
              object-fit: cover;
              filter: gray;
              -webkit-filter: grayscale(1);
              transition: all 1s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              &:hover {
                filter: none;
                -webkit-filter: grayscale(0);
              }
            }
          }
        }
      }
    }
  }
}

.app-footer-ccomp {
  background-color: #36d1dc;
  background: linear-gradient(300deg, #36d1dc, #5b86e5);
  padding: 3rem 1rem;
  .container {
    .content {
      img {
        width: 9%;
        margin: 0 auto;
        position: relative;
        @include mobile {
          width: 20%;
        }
      }
      p {
        a {
          padding: 0 5px;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $white;
      padding-top: 1rem;
    }
  }
}

.app-content-kategori-ccomp {
  section {
    &.is-intro {
      background: #36d1dc;
      background: url(../images/kompetisi/wave.png),
        -webkit-linear-gradient(300deg, #36d1dc, #5b86e5);
      background: url(../images/kompetisi/wave.png),
        linear-gradient(300deg, #36d1dc, #5b86e5);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: bottom;
      img {
        width: 15%;
        @include mobile {
          width: 30%;
        }
      }
    }
    &.is-hadiah {
      background-color: #fafafa;
      .column {
        .box {
          margin-top: 80px;
          box-shadow: 0 5px 4px 0 rgba(219, 219, 219, 0.5);
          .box-icon {
            margin: 0 auto;
            height: 100px;
            width: 100px;
            border-radius: 100%;
            background-color: white;
            margin-top: -70px;
            position: relative;
            box-shadow: 0 5px 5px 0 rgba(219, 219, 219, 0.25);
            border: 1px solid rgba(219, 219, 219, 0.25);
            img {
              width: 100px;
              height: 100px;
              margin: 0 auto;
            }
          }
        }
      }
    }
    &.is-timeline {
      background: #fff !important;
    }
    &.is-lomba-lain {
      background-color: #fafafa;
      .box {
        height: 100%;
        box-shadow: 0 5px 4px 0 rgba(219, 219, 219, 0.5);
      }
    }
  }
}

.app-footer {
  &.is-footer-kategori-ccomp {
    background: #36d1dc;
    background: -webkit-linear-gradient(300deg, #36d1dc, #5b86e5);
    background: linear-gradient(300deg, #36d1dc, #5b86e5);
    padding: 3rem 1rem;
  }
  .container {
    .content {
      img {
        width: 9%;
        margin: 0 auto;
        position: relative;
        @include mobile {
          width: 20%;
        }
      }
      p {
        a {
          padding: 0 5px;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $white;
      padding-top: 1rem;
    }
  }
}
