@import "node_modules/bulma/sass/utilities/mixins";
@import "node_modules/bulma/sass/utilities/initial-variables";
@import "node_modules/bulma-extensions/bulma-badge/bulma-badge";
html,
body {
    background-color: #F5F8FA !important;
}

.app-navbar-dashboard {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    .navbar {
        background-color: #fff;
        box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
        .navbar-brand {
            .navbar-burger {
                span {
                    background-color: #4a4a4a;
                    transition: transform .3s ease;
                    &.is-active {
                        &:nth-child(1) {
                            -webkit-transform: translateY(5px) rotate(45deg);
                            transform: translateY(5px) rotate(45deg);
                            transition: all .3s ease;
                        }
                        &:nth-child(2) {
                            -webkit-transform: translateX(-15px);
                            transform: translateX(-15px);
                            opacity: 0;
                            transition: transform 0.3s, ease opacity 0.7s;
                        }
                        &:nth-child(3) {
                            -webkit-transform: translateY(-5px) rotate(-45deg);
                            transform: translateY(-5px) rotate(-45deg);
                            transition: all .3s ease;
                        }
                    }
                }
            }
            a {
                &#hamburgerMenu {
                    color: #4a4a4a;
                    &:after {
                        content: '';
                        background: #666666;
                        display: block;
                        position: absolute;
                        border-radius: 100%;
                        box-sizing: border-box;
                        margin-left: auto;
                        margin-top: 8px;
                        margin-right: auto;
                        margin-bottom: 8px;
                        width: 36px;
                        height: 36px;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        opacity: 0;
                        transition: all .5s;
                    }
                    &:active:after {
                        width: 0px;
                        height: 0px;
                        margin-top: 26px;
                        margin-bottom: 26px;
                        opacity: 1;
                        transition: all 0s;
                    }
                }
            }
        }
        @include mobile {
            .navbar-menu {
                -webkit-overflow-scrolling: touch;
                max-height: calc(100vh - 3.25rem);
                overflow: auto;
                z-index: 1;
            }
        }
        .navbar-menu {
            a {
                &.navbar-item {
                    color: #4a4a4a !important;
                    &:hover {
                        color: #65cb67 !important;
                    }
                    &:active {
                        color: #65cb67 !important;
                    }
                    i {
                        color: #4a4a4a;
                        &:hover {
                            color: #65cb67;
                        }
                    }
                    .navbar-dropdown {
                        .navbar-item {
                            &:hover {
                                color: #65cb67 !important;
                            }
                        }
                    }
                }
            }
            .navbar-item {
                .navbar-link {
                    color: #4a4a4a;
                    figure {
                        img {
                            border-radius: 50%;
                            max-height: 2em;
                        }
                    }
                    &:hover {
                        color: #65cb67;
                    }
                    &:after {
                        border: 1px solid #4a4a4a;
                        border-top-width: 1px;
                        border-right-width: 1px;
                        border-top-style: solid;
                        border-right-style: solid;
                        border-top-color: rgb(74, 74, 74);
                        border-right-color: rgb(74, 74, 74);
                        border-right: 0;
                        border-top: 0;
                        content: " ";
                        display: block;
                        height: 0.5em;
                        pointer-events: none;
                        position: absolute;
                        transform: rotate(-45deg);
                        transform-origin: center;
                        width: 0.5em;
                        margin-top: -0.375em;
                        right: 1.125em;
                        top: 50%;
                    }
                    &:hover:after {
                        border: 1px solid #65cb67;
                        border-top-width: 1px;
                        border-right-width: 1px;
                        border-top-style: solid;
                        border-right-style: solid;
                        border-top-color: rgb(101, 203, 103);
                        border-right-color: rgb(101, 203, 103);
                        border-right: 0;
                        border-top: 0;
                        content: " ";
                        display: block;
                        height: 0.5em;
                        pointer-events: none;
                        position: absolute;
                        transform: rotate(-45deg);
                        transform-origin: center;
                        width: 0.5em;
                        margin-top: -0.375em;
                        right: 1.125em;
                        top: 50%;
                    }
                    @include mobile {
                        &::after {
                            display: none;
                        }
                        &:hover:after {
                            display: none;
                        }
                    }
                }
            }
            &.is-active {
                .navbar-end {
                    a {
                        &.navbar-item {
                            color: #4a4a4a;
                            &:active {
                                color: #f06562 !important;
                            }
                            &:hover {
                                color: #f06562 !important;
                            }
                            &.has-text-success-reverse {
                                color: #4a4a4a;
                                &:hover {
                                    color: #3abb69 !important;
                                }
                                &:active {
                                    color: #3abb69 !important;
                                }
                            }
                            &.has-text-twitter-reverse {
                                color: #4a4a4a;
                                &:hover {
                                    color: #55acee !important;
                                }
                                &:active {
                                    color: #55acee !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.app-main-dashboard {
    overflow: hidden;
    .column {
        .menu {
            padding-top: 80px;
            background-color: #fff;
            box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
            position: absolute;
            left: 0;
            overflow-y: auto;
            .menu-list {
                li {
                    a {
                        padding-left: 10px;
                        border-left: 6px solid #fff;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        &.is-active {
                            border-left: 6px solid #65cb67;
                            color: #65cb67;
                        }
                        &:hover {
                            border-left: 6px solid #65cb67;
                            color: #65cb67;
                        }
                    }
                    ul {
                        margin-left: 18px;
                        li {
                            a {
                                border-left: none;
                                &.is-active {
                                    border-left: none;
                                    color: #65cb67;
                                }
                                &:hover {
                                    border-left: none;
                                    color: #65cb67;
                                }
                            }
                        }
                    }
                }
            }
            .menu-footer {
                padding-left: 24px;
                p {
                    a {
                        margin-right: 5px;
                    }
                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                }
            }
            &.is-fixed {
                position: fixed;
                top: 0;
                bottom: 0;
                width: 16.66667%;
            }
        }
        .main {
            padding-top: 28px;
            background-color: #F5F8FA;
            .box {
                box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
                border-radius: 2px;
                &.notification {
                    box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
                    border-radius: 2px;
                }
            }
            .table {
                .is-selected {
                    background-color: #65cb67;
                }
            }
            .pagination {
                a {
                    color: #65cb67;
                    &.is-current {
                        background: #65cb67;
                        color: white;
                    }
                }
            }
            figure {
                margin: 0 auto;
                position: relative;
                img {
                    border-radius: 50%;
                }
            }
        }
    }
}

.app-main-pcs {
    overflow: hidden;
    .column {
        .menu {
            padding-top: 80px;
            background-color: #fff;
            box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
            position: absolute;
            left: 0;
            overflow-y: auto;
            .menu-list {
                li {
                    a {
                        padding-left: 10px;
                        border-left: 6px solid #fff;
                        padding-top: 12px;
                        padding-bottom: 12px;
                        &.is-active {
                            border-left: 6px solid #65cb67;
                            color: #65cb67;
                        }
                        &:hover {
                            border-left: 6px solid #65cb67;
                            color: #65cb67;
                        }
                    }
                    ul {
                        margin-left: 18px;
                        li {
                            a {
                                border-left: none;
                                &.is-active {
                                    border-left: none;
                                    color: #65cb67;
                                }
                                &:hover {
                                    border-left: none;
                                    color: #65cb67;
                                }
                            }
                        }
                    }
                }
            }
            .menu-footer {
                padding-left: 24px;
                p {
                    a {
                        margin-right: 5px;
                    }
                    &:nth-child(1) {
                        margin-bottom: 10px;
                    }
                }
            }
            &.is-fixed {
                position: fixed;
                top: 0;
                bottom: 0;
                width: 16.66667%;
            }
        }
        .main {
            padding-top: 28px;
            background-color: #F5F8FA;
            .box {
                box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
                border-radius: 2px;
                &.notification {
                    box-shadow: 0 10px 30px 0 rgba(229, 238, 242, .5);
                    border-radius: 2px;
                }
            }
            .table {
                .is-selected {
                    background-color: #65cb67;
                }
            }
            .pagination {
                a {
                    color: #65cb67;
                    &.is-current {
                        background: #65cb67;
                        color: white;
                    }
                }
            }
        }
    }
    .control {
       
        label {
            &.radio {
                display: block;
                margin-left: 25px;
                margin-bottom: 10px;
            }
            &.button {
                height: auto;
                white-space: inherit;
                text-align: left !important;
            }
            input[type="radio"] {
                position: absolute;
                margin-left: -40px;
                display: block;
            }
            input:checked ~ p {
                border: 1px dashed #fff;
                padding: 4px;
            }
            input ~ p {
                padding: 5px;                
            }
        }
    }
}