.app-header {
  position: absolute;
  width: 100%;
  z-index: 3;
  .navbar {
    background-color: transparent;
    .navbar-brand {
      .navbar-item {
        img {
          max-height: 2rem;
        }
      }
      .navbar-burger {
        span {
          background-color: white;
          transition: transform 0.3s ease;
          &.is-active {
            &:nth-child(1) {
              -webkit-transform: translateY(5px) rotate(45deg);
              transform: translateY(5px) rotate(45deg);
              transition: all 0.3s ease;
            }
            &:nth-child(2) {
              -webkit-transform: translateX(-15px);
              transform: translateX(-15px);
              opacity: 0;
              transition: transform 0.3s, ease opacity 0.7s;
            }
            &:nth-child(3) {
              -webkit-transform: translateY(-5px) rotate(-45deg);
              transform: translateY(-5px) rotate(-45deg);
              transition: all 0.3s ease;
            }
          }
        }
      }
    }
    .navbar-menu {
      a {
        &.navbar-item {
          color: white;
          &:hover {
            color: #e6e6e6;
          }
          &:active {
            color: #e6e6e6;
          }
        }
      }
      &.is-active {
        a {
          &.navbar-item {
            color: #4a4a4a;
            &:active {
              color: $pink;
            }
            &:hover {
              color: $pink;
            }
            &.has-text-success-reverse {
              color: #4a4a4a;
              &:hover {
                color: $green;
              }
              &:active {
                color: $green;
              }
            }
            &.has-text-twitter-reverse {
              color: #4a4a4a;
              &:hover {
                color: $twitter;
              }
              &:active {
                color: $twitter;
              }
            }
          }
        }
      }
    }
    &.is-fixed-top {
      background-color: white;
      transition: all 0.2s linear;
      box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
      .navbar-brand {
        .navbar-item {
          img {
            max-height: 2rem;
          }
        }
        .navbar-burger {
          span {
            background-color: #4a4a4a;
          }
        }
      }
      .navbar-menu {
        a {
          &.navbar-item {
            color: #4a4a4a;
            &:hover {
              color: $pink;
            }
            &:active {
              color: $pink;
            }
          }
          &.has-text-success-reverse {
            color: #4a4a4a;
            &:hover {
              color: $green;
            }
            &:active {
              color: $green;
            }
          }
          &.has-text-twitter-reverse {
            color: #4a4a4a;
            &:hover {
              color: $twitter;
            }
            &:active {
              color: $twitter;
            }
          }
        }
        &.is-active {
          a {
            &.navbar-item {
              color: #4a4a4a;
              &:active {
                color: $pink;
              }
              &:hover {
                color: $pink;
              }
              &.has-text-success-reverse {
                color: #4a4a4a;
                &:hover {
                  color: $green;
                }
                &:active {
                  color: $green;
                }
              }
              &.has-text-twitter-reverse {
                color: #4a4a4a;
                &:hover {
                  color: $twitter;
                }
                &:active {
                  color: $twitter;
                }
              }
            }
          }
        }
      }
    }
  }
}

.app-content {
  section {
    // intro
    &.is-intro {
      background-color: $pink;
      background: url(../images/index/skew-bottom.png),
        linear-gradient(135deg, $pink, #e5487c);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: bottom;
    }
    &.is-acara {
      .column {
        .box {
          .image {
            margin: 0 auto;
          }
          .subtitle {
            &:after {
              content: "";
              display: block;
              width: 40px;
              margin: 0 auto;
              margin-top: 15px;
              border-bottom: 2px solid $red;
              border-radius: 8px;
            }
          }
        }
        &:nth-child(2) {
          .box {
            .subtitle {
              &:after {
                border-bottom: 2px solid $blue;
              }
            }
          }
        }
        &:nth-child(3) {
          .box {
            .subtitle {
              &:after {
                border-bottom: 2px solid $green;
              }
            }
          }
        }
      }
    }
    &.is-timeline {
      background-color: #fdeeee;
      background: url(../images/index/skew-top.png),
        linear-gradient(to bottom, rgba(253, 238, 238, 0.5) 1%, #fff);
      background-size: 100%, cover, cover;
      background-repeat: no-repeat;
      background-position: top;
    }
    &.is-photos {
      overflow-x: hidden;
      .container {
        &.is-fluid {
          margin-left: 0px !important;
          margin-bottom: 0px !important;
          width: 100%;
        }
        .columns {
          margin-bottom: 0px;
          .column {
            padding: 0;
            img {
              object-fit: cover;
              filter: gray;
              -webkit-filter: grayscale(1);
              transition: all 1s ease-in-out;
              -webkit-transition: all 0.3s ease-in-out;
              &:hover {
                filter: none;
                -webkit-filter: grayscale(0);
              }
            }
          }
        }
      }
    }
  }
}

.app-footer {
  background-color: $pink;
  background: linear-gradient(135deg, $pink, #e5487c);
  padding: 3rem 1rem;
  &.is-footer-kompetisi {
    background: #089d95;
    background: -webkit-linear-gradient(300deg, #089d95, #65cb67);
    background: linear-gradient(300deg, #089d95, #65cb67);
  }
  &.is-footer-ccomp {
    background-color: #36d1dc;
    background: -webkit-linear-gradient(300deg, #36d1dc, #5b86e5);    
    background: linear-gradient(300deg, #36d1dc, #5b86e5);
  }
  .container {
    .content {
      img {
        width: 9%;
        margin: 0 auto;
        position: relative;
        @include mobile {
          width: 20%;
        }
      }
      p {
        a {
          padding: 0 5px;
        }
      }
    }
    .footer-bottom {
      border-top: 1px solid $white;
      padding-top: 1rem;
    }
  }
}
