.app-content-steps {
    section {
        &.is-steps {
            .steps {
                .step-item {
                    .step-details {
                        margin-top: 0;
                        margin-bottom: 2em;
                        .step-title {
                            margin-top: -2.5rem;
                        }
                    }
                    .step-marker {
                        transition-delay: 0.5s;
                    }
                    &.is-active {
                        .step-marker {
                            background-color: #fff;
                            border-color: #f06562;
                            color: #f06562;
                        }
                    }
                    &.is-completed {
                        .step-marker {
                            color: #fff;
                            background-color: #f06562;
                        }
                    }
                }
                .steps-content {
                    &.box {
                        padding: 2rem !important;
                    }
                }
            }
        }
    }
}

.steps .step-item::before {
    background: linear-gradient(to left, #dbdbdb 50%, #f06562 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease;
}

.app-content-invoice {
    section {
        &.is-invoice {
            .box {
            background-color: rgba(245, 62, 59, 0.1);                
            }
            table {
                tbody {
                    tr:nth-last-child(2) {
                        td {
                            border: 0;
                        }
                        th {
                            border: 0;
                        }
                    }
                }
            }
        }
    }
}

.app-content-login-perusahaan {
    &.is-login-perusahaan {
        .input {
            &.is-pink {
                // border-color: none !important;
            }
        }
    }
}